openapi: 3.0.3
info:
  title: Mock Weather API
  version: 1.0.0
servers:
  - url: https://api.mockweather.dev/v1
paths:
  /current:
    get:
      summary: Get current weather
      parameters:
        - in: query
          name: city
          required: true
          schema:
            type: string
        - in: query
          name: apikey
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                city: London
                temperature: "14°C"
                condition: Cloudy
                humidity: "82%"
                wind_speed: "12 km/h"
  /forecast:
    get:
      summary: Get weather forecast
      parameters:
        - in: query
          name: city
          required: true
          schema:
            type: string
        - in: query
          name: days
          required: true
          schema:
            type: integer
        - in: query
          name: apikey
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Forecast data
          content:
            application/json:
              example:
                city: London
                forecast:
                  - date: "2025-04-11"
                    temperature: "14°C"
                    condition: Rain
  /alerts:
    get:
      summary: Get weather alerts
      parameters:
        - in: query
          name: region
          required: true
          schema:
            type: string
        - in: query
          name: apikey
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Alert data
          content:
            application/json:
              example:
                region: UK
                alerts:
                  - type: Flood
                    severity: High
                    description: Heavy rainfall expected in Southern UK.
                    start_time: 2025-04-11T08:00:00Z
                    end_time: 2025-04-12T20:00:00Z
